{% extends "etl/base.html" %}

{% block additional_styles %}
<!-- <link href="/static/css/form.css" rel="stylesheet" /> -->
<link href="/static/etl/css/select2.new.min.css" rel="stylesheet" />
<style>
    .margin-bottom {
        margin-bottom: 4px;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #ee6e3b;
    color: white;
}
.select2-results__option.select2-results__option--selectable {
    color: #333;
}
</style>
{% endblock %}

{% block content %}
{% load check_permission %}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Product Type List
            
            {% has_permission "add-role" as is_true %}
            {% if is_true %}
            <!-- <button class="btn btn-primary btn-sm pull-right add-new">Add New</button> -->
            <button class="btn btn-primary btn-sm pull-right add-new">Add New</button>
              
            {% endif %}

        </header>
        <div class="panel-body">
            <div class="SubHeader">
                <div class="col-sm-4 pull-right row margin-bottom">
                    <form method="GET" action="/masters/product_type/">
                        <div class="form-inline">
                            <span class="pull-right">
                                <input type="text" placeholder="Search" name="search" class="form-control txt-search"
                                    autocomplete="off" required="required" value="{{ query }}" style="height: 28px !important;"/>
                                <button class="btn btn-warning btn-sm" type="submit" id="searchErp">
                                    <i class="fa fa-search"></i>
                                </button>
                                <a class="btn btn-sm btn-warning" href="/masters/product_type/" title="Refresh">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            {% if msg %}
            <div class="alert alert-danger">{{msg}}</div>
            {% endif %}
            <!-- {{data}} -->
            <table class="table table-hover table-bordered tableheader" id="erpMaster">
                <thead>
                    <tr class="Header">
                        <th># </th>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="hide">Status</th>
                        <th class="hide">Status</th>
                        <th >Category</th>
                        <th width="10%"><center>Actions</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cust in product_type%}
                    <tr class="tablecontent">
                        <td>{{ forloop.counter0|add:product_type.start_index }}</td>
                        <td>{{ cust.name }}</td>
                        
                        <td>{{ cust.description }}</td>
                        <td class="hide">{{ cust.active|yesno:"Active,Inactive" }}</td>
                        <td class="hide">{{ cust.active }}</td>
                        <td >{{ cust.type }}</td>
                        
                        <td>
                            <center>
                                <!-- {% has_permission "edit-cust" as is_true %} -->
                                <!-- {% if is_true %} -->
                                <a class="btn btn-xs btn-primary btnEdit" title="Edit" rel="{{ cust.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <!-- {% endif %}
                                {% has_permission "delete-cust" as is_true %}
                                {% if is_true %} -->
                                <a class="btn btn-xs btn-danger btnDel" data-id="{{ cust.id }}"
                                    href="/masters/product_type" title="Delete">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <!-- {% endif %} -->
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if not product_type%}
                    <tr>
                        <td colspan="5">
                            <div class="col-md-12 text-center"> No records found!</div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="pull-right">
                {% if product_type.has_other_pages %}
                <ul class="pagination">
                    {% if product_type.has_previous %}
                    <li><a href="?page={{ product_type.previous_page_number }}{{query_url}}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in product_type.paginator.page_range %}
                    {% if product_type.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}{{query_url}}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if product_type.has_next %}
                    <li><a href="?page={{ product_type.next_page_number }}{{query_url}}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

        </div>
    </section>
</div>

<!-- Modal - Add/Edit Form -->
<div class="modal fade" id="typeModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <form class="form-horizontal form-container-regular" role="form" id="typeForm" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <div class="col-lg-12">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label" for="role">Name *</label>
                                        <input type="hidden" name="typeid" id="typeid">
                                        <input type="text" name="txt_name" id="txt_name" class="form-control">
                                        <span class="has-error txt_name_error"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="group">Category *</label>
                                        <select class="form-control select cust_input" style="width:100%" name="cb_type" id="cb_type">
                                            <option value="">Select Category</option>
                                            <option value="Camera">Camera</option>
                                            <option value="Battery">Battery</option>
                                            <option value="Remote Control">Remote Control</option>
                                            <option value="Sensor">Sensor</option>
                                            <option value="Flight Controller">Flight Controller</option>
                                            <option value="QGC">QGC</option>
                                            <option value="Frame">Frame</option>
                                            
                                        </select>
                                        <span class="has-error cb_type_error"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="group">Description</label>
                                        <textarea name="description" id="description" rows="2" class="form-control"></textarea>
                                        <!-- <span class="has-error description_error"></span> -->
                                    </div>
                                    
                                    <!-- <div class="form-group">
                                        <label class="control-label" for="description"></label>
                                        <label class="checkbox-lbl"><input type="checkbox" value="status" name="status" id="status"><span>Active</span></label>
                                        
                                    </div> -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="confirm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Product Type - Delete</h5>
            </div>
            <div class="modal-body">
                Are you sure to delete this record?
            </div>
            <div class="modal-footer footer-button">
                <button type="button" data-dismiss="modal" class="btn btn-sm">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="infoModal" tabindex="-1" role="dialog"
    aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer footer-button"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsfooter %}
<script src="/static/etl/js/select2.new.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Add Form
        $('#cb_type').select2();
        $('.add-new').click(function () {
            $('#cb_type').prop('disabled',false)
            $('#typeModal').find('#cb_type').val("");
            $('#cb_type').select2()
            document.getElementById("typeForm").reset();
            $('#typeModal').find('.modal-title').html('Add Product Type');
            $('#typeModal').find('.has-error').html('');
            $('#typeModal').modal();
        });

        // Add 
        $("#typeForm").submit(function (event) {
            event.preventDefault();
            // if ($("#status").is(":checked"))
            //     status = 'True'
            // else
            //     status = 'False'

            $('.has-error').html('')
            
            var formdata = $('#typeForm').serializeArray();
            // formdata.push({ name: "status", value: status });
            formdata.push({ name: "cb_type", value: $('#cb_type').val() });
            // console.log(formdata);
            $.ajax({
                type: "POST",
                url: $(this).find('#typeid').val() ? "/masters/product_type/update/" : "/masters/product_type/add/",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').attr('value')
                },
                data: formdata,
                success: function (data) {
                    if (data.success) {
                        $('#typeModal').modal('hide');
                        $("#infoModal").find('.modal-title').html('Success');
                        $("#infoModal").find('.modal-body').html(`${data.msg}`);
                        $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        $("#infoModal").modal().on('hidden.bs.modal', function () {
                            location.reload();
                        });
                    } else {
                        $.each(data.errors, function (key, value) {
                            $(`.${key}_error`).html(`<ul class="errorlist"><li>${value[0]}</li></ul>`);
                        });
                    }
                },
                error: function (e) {
                    $('#typeModal').modal('hide');
                    $("#infoModal").find('.modal-title').html('Error');
                    $("#infoModal").find('.modal-body').html(`${e.responseJSON.msg}`);
                    $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                    $("#infoModal").modal();
                }
            });
        });

        // Edit ERP
        $(".btnEdit").click(function () {
            $('#cb_type').prop('disabled',true)
            console.log($(this).closest('tr').find("td:eq(5)").text())
            $('#typeModal').find('.has-error').html('');
            $('#typeModal').find('.modal-title').html('Edit Product Type');
            var id = $(this).attr('rel');
            $('#typeModal').find('#typeid').val(id);
            $('#typeModal').find('#txt_name').val($(this).closest('tr').find("td:eq(1)").text());
            $('#typeModal').find('#description').val($(this).closest('tr').find("td:eq(2)").text());
            $('#typeModal').find('#cb_type').val($(this).closest('tr').find("td:eq(5)").text());
            $('#cb_type').select2()
            // $('#group').val(JSON.parse($(this).closest('tr').find("td:eq(3)").text())).trigger('change');
            if($(this).closest('tr').find("td:eq(4)").text() == 'False')
                $('#status').prop('checked', false);
            else
                $('#status').prop('checked', true);
            $("#typeModal").modal({
                keyboard: false
            });
        });

        $(".btnDel").click(function (e) {
            e.preventDefault();
            var link = $(this).attr('href');
            var id = $(this).data('id');
            $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            }).on('click', '#delete', function (e) {
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    type: "DELETE",
                    dataType: 'json',
                    url: `${link}/?id=${id}`,
                    data: {},
                    beforeSend: function () { },
                    success: function (data) {
                        // alert(JSON.parse(data))
                        if (data.success == true) {
                            window.location.href = data.url;
                        } else if(data.success == 'exist'){
                            $("#infoModal").find('.modal-title').html('Warning');
                            $("#infoModal").find('.modal-body').html(`${data.msg}`);
                            $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                            $("#infoModal").modal();
                        }
                        else{
                            $("#infoModal").find('.modal-title').html('Error');
                            $("#infoModal").find('.modal-body').html(`${data.msg}`);
                            $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                            $("#infoModal").modal();
                        }
                    }, error: function (error) {
                        $("#infoModal").find('.modal-title').html('Error');
                        $("#infoModal").find('.modal-body').html(`${error.responseJSON.msg}`);
                        $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        $("#infoModal").modal();
                    }
                })
            }).on('hidden.bs.modal', function (e) {
                $(e.currentTarget).unbind();
            });
        });
    });
</script>

{% endblock %}