<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>aakash AVM</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <!-- <link rel="shortcut icon" href="{% static 'etl/img/favicon.png' %}"> -->
    <link rel="icon" type="image/x-icon" href="/static/etl/img/dms/favicon.ico">
    <link href="{% static 'etl/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'etl/css/bootstrap-reset.css' %}" rel="stylesheet">

    <!--external css-->
    <link href="{% static 'etl/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'etl/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'etl/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'etl/js/html5shiv.js' %}"></script>
      <script src="{% static 'etl/js/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body class="login-body">

    <div class="container">
        <div class="col-lg-12" style="margin-top:40px">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                
            </div>
            <div class="col-lg-4"></div>

        </div>

        <form class="form-signin" method="post" name="frmPasswordReset" id="frmPasswordReset">
            {% csrf_token %}
			<input type="hidden" name="hd_cid" id="hd_cid" value="{{user_id}}">
            

            <h2 class="form-signin-heading"><img src="/static/etl/img/logonewW.svg" width="130"> </h2>
            <div class="login-wrap">
               <!-- <h4> Reset Password</h4><br/> -->
                <div style="margin-bottom: 30px;">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" autofocus style="margin-bottom: 0;">
                    <span class="has-error text-danger pull-right password_error"></span>
                </div>
                <div style="margin-bottom: 30px;">
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password" autofocus style="margin-bottom: 0;">
                    <span class="has-error text-danger pull-right confirm_password_error"></span>
                </div>
                <div class = "form-group">
                    <span class="error"  style="color: #a94442;"></span>
                </div>
	
                <button class="btn btn-lg btn-login btn-block" type="submit" id="btnsend">Change Password</button>
                Back to <a href="/auth/login/">Login</a>

        </form>

        </div>

    </div>
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="{% static 'etl/js/jquery.js' %}"></script>
    <script src="{% static 'etl/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        // var group_data = JSON.parse('{{group_data|safe}}');
        $(document).ready(function () {
    
            $("#frmPasswordReset").submit(function (event) {
                event.preventDefault();
                var formData = $('#frmPasswordReset').serializeArray();
                
                console.log(formData);
                $.ajax({
                    type: "POST",
                    url: "/auth/save_new_password/",
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').attr('value')
                    },
                    data: formData,//JSON.stringify(formdata),
                    success: function (data) {
                        $('.has-error').html('');
                        if (data.success  == true ) {
                            // $('#roleModal').modal('hide');
                            // $("#infoModal").find('.modal-title').html('Success');
                            // $("#infoModal").find('.modal-body').html(`${data.msg}`);
                            // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                            // $("#infoModal").modal().on('hidden.bs.modal', function () {
                            //     location.reload();
                            // });
                            window.location.href ='/auth/login'
                        } 
                        else if(data.success =='exist'){
                            $('.error').html(`${data.msg}`);
                            // window.location('../success/')
                            // $('#roleModal').modal('hide');
                            // $("#infoModal").find('.modal-title').html('Warning');
                            // $("#infoModal").find('.modal-body').html(`${data.msg}`);
                            // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                            
                            // $("#infoModal").modal();
                        }
                        else {
                            
                            $.each(data.errors, function (key, value) {
                                $(`.${key}_error`).html(`${value[0]}`);
                            });
                            // $('.error').html('dasdasdasdasdasd');
                        }
                    },
                    error: function (e) {
                        $('.error').html(`${e.responseJSON.msg}`);
                        // $("#infoModal").find('.modal-title').html('Error');
                        // $("#infoModal").find('.modal-body').html(`${e.responseJSON.msg}`);
                        // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        // $("#infoModal").modal();
                    }
                });
            });
    
    });
    
       </script>
</body>

</html>