{% extends "etl/base.html" %}

{% block additional_styles %}
<link href="/static/css/form.css" rel="stylesheet" />
<style>
    .margin-bottom {
        margin-bottom: 4px;
    }
</style>
{% endblock %}

{% block content %}
{% load check_permission %}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Permission Groups
            {% has_permission "add-group" as is_true %}
            {% if is_true %}
            <button class="btn btn-primary btn-sm pull-right add-new">Add New</button>
            {% endif %}
        </header>
        <div class="panel-body">
            <div class="SubHeader">
                <div class="col-sm-4 pull-right row margin-bottom">
                    <form method="GET" action="/permissions/group">
                        <div class="form-inline">
                            <span class="pull-right">
                                <input type="text" placeholder="Search" name="search" class="form-control txt-search"
                                    autocomplete="off" required="required" value="{{ query }}" />
                                <button class="btn btn-warning btn-sm" type="submit" id="searchErp">
                                    <i class="fa fa-search"></i>
                                </button>
                                <a class="btn btn-sm btn-warning" href="/permissions/group" title="Refresh">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            {% if msg %}
            <div class="alert alert-danger">{{msg}}</div>
            {% endif %}
            <table class="table table-hover table-bordered tableheader" id="erpMaster">
                <thead>
                    <tr class="Header">
                        <th># </th>
                        <th>Name </th>
                        <th>Description</th>
                        <th width="10%"><center>Actions</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups%}
                    <tr class="tablecontent">
                        <td>{{ forloop.counter0|add:groups.start_index }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.description }}</td>
                        <td>
                            <center>
                                {% has_permission "edit-group" as is_true %}
                                {% if is_true %}
                                <a class="btn btn-xs btn-primary btnEdit" title="Edit" rel="{{ group.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                                {% has_permission "delete-group" as is_true %}
                                {% if is_true %}
                                <a class="btn btn-xs btn-danger btnDel" data-id="{{ group.id }}"
                                    href="/permissions/group" title="Delete">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                {% endif %}
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if not groups%}
                    <tr>
                        <td colspan="4">
                            <div class="col-md-12 text-center"> No records found!</div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="pull-right">
                {% if groups.has_other_pages %}
                <ul class="pagination">
                    {% if groups.has_previous %}
                    <li><a href="?page={{ groups.previous_page_number }}{{query_url}}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in groups.paginator.page_range %}
                    {% if groups.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}{{query_url}}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if groups.has_next %}
                    <li><a href="?page={{ groups.next_page_number }}{{query_url}}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

        </div>
    </section>
</div>

<!-- Modal - Add/Edit Form -->
<div class="modal fade" id="groupModal" group="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Group</h4>
            </div>
            <form class="form-horizontal form-container" role="form" id="groupForm" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <div class="col-lg-12">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label" for="group">Group Name *</label>
                                        <input type="hidden" name="groupid" id="groupid">
                                        <input type="text" name="group" id="group" class="form-control"
                                            autocomplete="off">
                                        <span class="has-error group_error"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="description">Description (if any) </label>
                                        <textarea class="form-control" style="height: auto;" name="description"
                                            id="description" cols="5" rows="5"></textarea>
                                        <span class="has-error description_error"></span>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="confirm" tabindex="-1" group="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Permission Group - Delete</h5>
            </div>
            <div class="modal-body">
                Are you sure to delete this record?
            </div>
            <div class="modal-footer footer-button">
                <button type="button" data-dismiss="modal" class="btn btn-sm">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="infoModal" tabindex="-1" group="dialog"
    aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer footer-button"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsfooter %}
<script type="text/javascript">
    $(document).ready(function () {

        // Add Form
        $('.add-new').click(function () {
            document.getElementById("groupForm").reset();
            $('#groupModal').find('.modal-title').html('Add Group');
            $('#groupModal').find('.has-error').html('');
            $('#groupModal').modal();
        });

        // Add group
        $("#groupForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: $('#groupid').val() ? "/permissions/group-update/" : "/permissions/group/",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').attr('value')
                },
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        $('#groupModal').modal('hide');
                        $("#infoModal").find('.modal-title').html('Success');
                        $("#infoModal").find('.modal-body').html(`${data.msg}`);
                        $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        $("#infoModal").modal().on('hidden.bs.modal', function () {
                            location.reload();
                        });
                    } else {
                        $.each(data.errors, function (key, value) {
                            $(`.${key}_error`).html(`<ul class="errorlist"><li>${value[0]}</li></ul>`);
                        });
                    }
                },
                error: function (e) {
                    $('#groupModal').modal('hide');
                    $("#infoModal").find('.modal-title').html('Error');
                    $("#infoModal").find('.modal-body').html(`${e.responseJSON.msg}`);
                    $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                    $("#infoModal").modal();
                }
            });
        });

        // Edit ERP
        $(".btnEdit").click(function () {
            $('#groupModal').find('.has-error').html('');
            $('#groupModal').find('.modal-title').html('Edit Group');
            var id = $(this).attr('rel');
            $('#groupModal').find('#groupid').val(id);
            $('#groupModal').find('#group').val($(this).closest('tr').find("td:eq(1)").text());
            $('#groupModal').find('#description').val($(this).closest('tr').find("td:eq(2)").text());
            $("#groupModal").modal({
                keyboard: false
            });
        });

        $(".btnDel").click(function (e) {
            e.preventDefault();
            var link = $(this).attr('href');
            var id = $(this).data('id');
            $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            }).on('click', '#delete', function (e) {
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    type: "DELETE",
                    dataType: 'json',
                    url: `${link}/?id=${id}`,
                    data: {},
                    beforeSend: function () { },
                    success: function (data) {
                        if (data.success) {
                            window.location.href = data.url;
                        } else {
                            $("#infoModal").find('.modal-title').html('Error');
                            $("#infoModal").find('.modal-body').html(`${data.msg}`);
                            $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                            $("#infoModal").modal();
                        }
                    }, error: function (error) {
                        $("#infoModal").find('.modal-title').html('Error');
                        $("#infoModal").find('.modal-body').html(`${error.responseJSON.msg}`);
                        $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        $("#infoModal").modal();
                    }
                })
            }).on('hidden.bs.modal', function (e) {
                $(e.currentTarget).unbind();
            });
        });
    });
</script>

{% endblock %}