<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->
<head>

</head>
<body style = "overflow:hidden">
    <form action="">
        <div class="row" style = "margin-right: 0;  margin-left: 0; height: 100vh;">
            <div class="col-md-8 col-sm-12 d-flex justify-content-center align-items-start">
                <div class="d-flex justify-content-center flex-column col-md-8">
                    <div class = "form-group mt-83 mb-100 d-flex align-items-baseline"> 
                        <img class ="img-logo" src = "../../assets/img/logo_new.svg" style="height: 28px;">
                        <!-- <label class="label-logo">DMS</label> -->
                    </div>
                    <div class = "form-group"> 
                        <label class="label-login" style = "font-size: 2.5em;">Forgot Password</label>
                        <p class = "mb-50 login-p" style = "font-size: 1.125em; margin-bottom: 32px;">
                            Please Enter Your email.
                        </p>
                    </div>
                    <div class = "form-group">
                        <label class="label-input">Email</label>
                        <input type="email" name="email" id="email" class="form-control mb-16 cust-input" style = "font-size: 1em;" placeholder="Enter Your Email" [(ngModel)]="email">
                        <!-- <span class="has-error text-danger pull-right username_error"></span> -->
                    </div>
                    
                    <div class = "form-group">
                        <span class="error" [hidden]="!error_status">{{error}}</span>
                        <span class="success" [hidden]="!success_status">{{success}}</span>
                        
                    </div>
                    <div class = "form-group">
                        <button type = "button" class="	btn btn-primary btn-sm btn-block cust-btn" (click)="forgot_password()">Submit</button>
                    </div>
                    <div class = "form-group">
                        <span class="ml-auto" style="float: right;color: #A3A2A5;">Back to &nbsp;<a [routerLink]="" (click)="back_to_login()" class="label-forgot float-right" style = "font-size: 1em;">Login</a></span>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-12 cust-right">
                <!-- <img class ="img-logo" src = "../../assets/img/bg_img.svg"> -->
            </div>
            <!-- <div class="col-md-4 cust-right">
                <img class ="img-logo" src = "../../assets/img/bg_img.svg">
            </div> -->
        </div>
    </form>
    <footer class="label-footer">
        <div class="pull-left">
            2022 © aakash All rights reserved.
           <a href="#" class="go-top">
           </a>
        </div>
     </footer>
     <!-- <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script> -->
</body>
<script type="text/javascript">

$(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });

</script>
