.label-logo{ 
    font-size: 42px;
    font-weight: 500;
}
.label-login{
    
    font-size: 43px;
    font-weight: 600;
    // margin: 0;
    margin-bottom: 8px;
    color: #4B4A50;
}
.login-p{ 
    font-size: 20px;
    font-weight: 400;
    color: #A3A2A5;
}
.label-input{ 
    font-size: 14px;
    font-weight: 400;
    color: #A3A2A5;
}
.cust-input{
    height: 40px;
}
// .cust-placeholder{
//     font-size: 16px;
//     font-weight: 400;
//     color: #E1E1E1;
// }
::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: #E1E1E1;
}
.label-forgot{
    font-size: 16px !important;
    font-weight: 500;
    color: #FA9260 !important;
    cursor: pointer;
    // display: none;
}
.label-forgot:hover, .label-forgot:active, .label-forgot:focus{
    color: #F97738;
    text-decoration: none;
   // display: none;
    font-size: 16px !important;
    font-weight: 500;
    color: #FA9260 !important;
    cursor: pointer;
    // display: none;
}
.cust-right{
    // opacity: 51%;
    // background-blend-mode: multiply;
    // color: #787878
    
    /* height: 100%; */
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    // height: 970px;
    // width: 625px;
    // background-image: url('../../assets/img/bg_img.svg');
    height: 100vh;
    background-image: url('../../assets/img/421_720.png');
    background-position: bottom;
    background-size: cover;
    height: 100%;
    // object-fit : cover;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    // left: 0;
    // top: 8px;
    top: 45%;
    right: 0;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}
.error{
    color: #FA9260!important;
    font-size: 14px;

}

@media screen and (max-height: 720px) {
    .mt-83{
        margin-top: 43px ;
    }
    .mb-100{
        margin-bottom: 50px ;
    }
    .mb-50{
        margin-bottom: 20px ;
    }
    .mb-16{
        margin-bottom: 8px ;
    }
    // .cust-right{
    //     height: 660px ;
    //     width: 440px;
    // }
}
.pwd{
	position: relative;
}
.cust-btn:focus{
    box-shadow: 0 0 0 0.2rem #FA9260  !important;
    border-color: #FA9260  !important;

  }
.cust-btn:active, .cust-btn:hover{
    color: #fff !important;
    background-color: #F97738  !important;
    border-color: #F97738  !important;
}
.cust-input:focus{
    box-shadow: 0 0 0 0.2rem #fa9260  !important;
}
.cust-input:active{
    color: #fff !important;
    border-color: #fa9260  !important;
}
.cust-input:focus-visible{
    border-color: #fa9260  !important;
}
.p-viewer {
	z-index: 9999;
	position: absolute;
	top: 30%;
	right: 10px;
}
.success{
    color: #28a745;
}