<html lang="en" class="sb-init" >
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Mosaddek">
      <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
      <title>aakash AVM</title>
      <!-- <link rel="shortcut icon" href="/static/etl/img/favicon.png"> -->
      <link rel="icon" type="image/x-icon" href="/static/etl/img/dms/favicon.ico">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="/static/etl/css/cust-admin.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
      <!--[if lt IE 9]>
      <script src="/static/etl/js/html5shiv.js"></script>
      <script src="/static/etl/js/respond.min.js"></script>
      <![endif]-->
      <style>
         .logout li a{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         padding: 10px 20px !important;
         gap: 6px;
         }
         input:focus,input:active,input:visited{
             color: #495057 !important;
         }
      </style>
   </head>
   <body class="gorgias-loaded" cz-shortcut-listen="true">
      <section id="container">

                                    
            
            <div class="row" style = "margin-right: 0;  margin-left: 0; height: 100vh;">
                <div class="col-md-8 col-sm-12" style="display: flex;flex-direction: column;justify-content: space-between;">
                    <div class="d-flex justify-content-center align-items-start">
                        <form method="POST" enctype="multipart/form-data" id="frmCustomerAdd">
                            {% csrf_token %}
                            <input type="hidden" name="hd_cid" id="hd_cid" value="{{customer_id}}">
                        <div class="d-flex justify-content-center flex-column">
                            <div class = "form-group mt-83 mb-100 d-flex align-items-baseline"> 
                                <img class ="img-logo" src = "/static/etl/img/dms/logo_new.svg" style="height: 28px;">
                                <!-- <label class="label-logo">DMS</label> -->
                            </div>
                            <div class = "form-group mb-64"> 
                                <label class="label-login" style = "font-size: 2.5em; line-height:56px;">Create Your Aakash Administrator</label>
                                <p class = "mb-50 login-p">
                                    This will be the Administrator User for your AVM application. 
                                </p>
                            </div>
                            <div class = "form-group">
                                <div class = "row small-screen">
                                    <div class = "col-sm-6 full-col">
                                        <label class="label-input required" style = "font-size: .8750em;">First Name</label>
                                        <input type="text" name="first_name" id="first_name" class="form-control mb-16 cust-input" placeholder="First Name">
                                        <span class="has-error error  pull-right first_name_error"></span>
                                    </div>   
                                    <div class = "col-sm-6 full-col">
                                        <label class="label-input required" style = "font-size: .8750em;">Last Name</label>
                                        <input type="last_name" name="last_name" id="last_name" class="form-control mb-16 cust-input" placeholder="Last Name">
                                        <span class="has-error error  pull-right last_name_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class = "form-group">
                                <div class = "row small-screen">
                                    <div class = "col-sm-6 full-col">
                                        <label class="label-input required" style = "font-size: .8750em;">Email Address <span style = "font-size: .8750em;">(Use as Username)</span></label>                               
                                        <input type="text" name="email" id="email" class="form-control mb-16 cust-input" placeholder="name@gmail.com">
                                        <span class="has-error error  pull-right email_error"></span>
                                    </div>   
                                    <div class = "col-sm-6 full-col">
                                        <label class="label-input required" style = "font-size: .8750em;">Phone Number</label>
                                        <input type="text" name="phone" id="phone" maxlength="13" class="form-control mb-16 cust-input" placeholder="0000000000">
                                        <span class="has-error error  pull-right phone_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class = "form-group">
                                <label class="label-input required" style = "font-size: .8750em;">Password</label>
                                <input type="password" name="password"  id="password" class="form-control mb-16 cust-input" placeholder="8+ Characters required">
                                <span class="has-error error pull-right password_error"></span>
                            </div>
                            <div class = "form-group">
                               <label class="label-input required" style = "font-size: .8750em;">Confirm Password</label>
                               <input type="password" name="confirm_password" id="confirm_password" class="form-control mb-16 cust-input" placeholder="8+ Characters required">
                               <span class="has-error error pull-right confirm_password_error"></span>
                           </div>
                            <div class = "form-group">
                                <span class="error_msg" ></span>
                            </div>
                            <!-- <div class="alertBox" *ngIf='success=="true"'>
                                <span class="success">Updated Successfully</span>
                            </div> -->
                            <div class = "form-group">
                                <div class="d-flex align-items-center justify-content-end gap-3">
                                <button type = "submit" class="	btn btn-primary btn-sm cust-btn-primary">Save</button>
                                <button type = "button" class="	btn btn-primary btn-sm cust-btn-secondary btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                    
                    <!-- <div class = "col-md-4">

                    </div> -->
                   
                     <div class="row">
                        <footer class="label-footer">
                            <div class="pull-left">
                                {% now 'Y' %} © aakash by axldrone
                               <a href="#" class="go-top">
                               </a>
                            </div>
                         </footer>
                     </div>
                </div>
                <div class="col-md-4 col-sm-12 cust-admin-right-img" style="padding: 0;">
                
                </div>

            </div>

         <!--main content end-->
         <!--footer start-->
         
         <!--footer end-->
      </section>
     
      <!-- js placed at the end of the document so the pages load faster -->
      <script src="/static/etl/js/jquery.js"></script> 
      <!-- <script src="/static/etl/js/bootstrap.min.js"></script>
      <script src="/static/etl/js/tree.js"></script> 
      <script class="include" type="text/javascript" src="/static/etl/js/jquery.dcjqaccordion.2.7.js"></script>
      <script src="/static/etl/js/jquery.scrollTo.min.js"></script>
      <script src="/static/etl/js/jquery.nicescroll.js" type="text/javascript"></script>
      <script src="/static/etl/js/respond.min.js"></script>
      <script src="/static/etl/js/jquery-ui-1.9.2.custom.min.js"></script>
      <script src="/static/etl/js/jquery-migrate-1.2.1.min.js"></script>
      <script src="/static/etl/js/slidebars.min.js"></script>
      <script src="/static/etl/js/common-scripts.js"></script> -->
      <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 3px; z-index: auto; background: rgb(64, 64, 64); cursor: default; position: fixed; top: 0px; left: 207px; height: 287px; display: block; opacity: 0;">
         <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 3px; height: 249px; background-color: rgb(232, 64, 63); background-clip: padding-box; border-radius: 10px;"></div>
      </div>
      <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: auto; background: rgb(64, 64, 64); top: 284px; left: 0px; position: fixed; cursor: default; display: none; width: 207px; opacity: 0;">
         <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 3px; width: 210px; background-color: rgb(232, 64, 63); background-clip: padding-box; border-radius: 10px; left: 0px;"></div>
      </div>
      <div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width: 6px; z-index: 1000; background: rgb(64, 64, 64); cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: block; opacity: 0;">
         <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 6px; height: 402px; background-color: rgb(232, 64, 63); background-clip: padding-box; border-radius: 10px;"></div>
      </div>
      <div id="ascrail2001-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 6px; z-index: 1000; background: rgb(64, 64, 64); position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
         <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 6px; width: 1366px; background-color: rgb(232, 64, 63); background-clip: padding-box; border-radius: 10px; left: 0px;"></div>
      </div>
      <!-- <script src="/static/etl/js/jquery.typeahead.js"></script> -->
      <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
   </body>
   
   <script type="text/javascript">
    // var group_data = JSON.parse('{{group_data|safe}}');
    $(document).ready(function () {


        $('.btn-cancel').on('click',function(){
            $('#frmCustomerAdd').trigger("reset");
            $('#first_name').focus()
        })
        // $('#phone').keyup(function() {
        //     var $th = $(this);
        //     $th.val( $th.val().replace(/^[+-]?\d+$/, '' ) );
        // });
        $('#phone').keyup(function () { 
            this.value = this.value.replace(/[^0-9+\.]/g,'');
        });
        $("#frmCustomerAdd").submit(function (event) {
            event.preventDefault();

            var formData = $('#frmCustomerAdd').serializeArray();
            
            console.log(formData);
            $.ajax({
                type: "POST",
                url: "/masters/customers_user/",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').attr('value')
                },
                data: formData,//JSON.stringify(formdata),
                success: function (data) {
                    $('.has-error').html('');
                    if (data.success  == true ) {
                        // $('#roleModal').modal('hide');
                        // $("#infoModal").find('.modal-title').html('Success');
                        // $("#infoModal").find('.modal-body').html(`${data.msg}`);
                        // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        // $("#infoModal").modal().on('hidden.bs.modal', function () {
                        //     location.reload();
                        // });
                        window.location.href ='/masters/success'
                    } 
                    else if(data.success =='exist'){
                        $('.error_msg').html(`${data.msg}`);
                        // window.location('../success/')
                        // $('#roleModal').modal('hide');
                        // $("#infoModal").find('.modal-title').html('Warning');
                        // $("#infoModal").find('.modal-body').html(`${data.msg}`);
                        // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                        
                        // $("#infoModal").modal();
                    }
                    else {
                        
                        $.each(data.errors, function (key, value) {
                            $(`.${key}_error`).html(`${value[0]}`);
                        });
                        // $('.error').html('dasdasdasdasdasd');
                    }
                },
                error: function (e) {
                    $('.error_msg').html(`${e.responseJSON.msg}`);
                    // $("#infoModal").find('.modal-title').html('Error');
                    // $("#infoModal").find('.modal-body').html(`${e.responseJSON.msg}`);
                    // $('#infoModal .footer-button').html('<button class="btn btn-sm btn-success" data-dismiss="modal" type="button">Close</button>');
                    // $("#infoModal").modal();
                }
            });
        });

});

   </script>
</html>