{% extends "etl/base.html" %}

{% block content %}
       
 <!-- page start-->
 <div class="col-lg-12">
 
                       <div class="row">
                          <div class="col-lg-12">
                              <section class="panel">
                                  <div class="panel-body">
                                      <ul class="summary-list">
                                          <li>
                                              <a href="javascript:;">
                                                  <i class="glyphicon glyphicon-plane text-primary"></i>
                                                  1265 Aircrafts Registered
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;">
                                                  <i class="glyphicon glyphicon-wrench text-info"></i>
                                                  589 Maintenance Logs
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;">
                                                  <i class=" fa  fa-check-square-o text-success"></i>
                                                  136 Customer Subscriptions
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;">
                                                  <i class="fa fa-warning text-danger"></i>
                                                  14 Customer Alerts
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:;">
                                                  <i class="fa fa-calendar text-danger"></i>
                                                  8 Pending Maintenance
                                              </a>
                                          </li>
										  
                                      </ul>
                                  </div>
                              </section>
                          </div>
                      </div>

</div>
              <!-- page end-->



{% load static %} 

{% endblock %}