<footer>
<!-- <body> -->
  <div class="">
    <div class="" style="font-size:12px !important;">
      <p class="mb-0 py-2 footer-font">© 2022 aakash All rights reserved.</p>
    </div>
  </div>
  
  <!-- <script type="text/javascript">function add_chatinline(){var hccid=55975340;var nt=document.createElement("script");nt.async=true;nt.src="https://www.mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);
  }
  add_chatinline();
  function MyLiveChat_OnInit() {
  // var name = localStorage.getItem("name");
  // var username = localStorage.getItem("username");
  MyLiveChat_SetUserName(name, username);
  }</script> -->
<!-- </body> -->

</footer>